<div class="card-item col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
        <div class="card-header p-3 pt-2">
            <div
                class="icon icon-lg icon-shape bg-gradient-<%=bg_gradient%> shadow-<%=shadow%> text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10"><%= icon%></i>
            </div>
            <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize"><%= title%></p>
                <h4 class="mb-0"><%= value1%></h4>
            </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-3">
            <p class="mb-0"><span class="text-success text-sm font-weight-bolder"><%= value2%> </span><%= period%></p>
        </div>
    </div>
</div>